@* Pages/Reservaciones.razor *@
@page "/reservaciones"
@inject ReservacionServicio reservacionServicio
@inject IJSRuntime jsRuntime

<h3>Reservaciones</h3>

<NavLink class="nav-link" href="reservacion/agregar">
<span class="oi oi-plus" aria-hidden="true">Agregar reservacion</span>
</NavLink>

<div class="row">
    <div class="col-md-6">
        <table class="table table-hover">
            <thead>
            <tr>
            <th>ReservacionID</th>
            <th>Nombre Completo</th>
            <th>Tipo - NoHab - Piso - Costo</th>
            <th>InicioReserva</th>
            <th>FinReserva</th>
            <th>DiasReserva</th>
            <th>CostoTotal</th>
            <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservacion in reservaciones)
            {
            <tr>
                <td>@reservacion.InicioReserva</td>
                <td>@reservacion.FinReserva</td>
                <td>@reservacion.DiasReserva</td>
                <td>
                <a
                href="reservacion/editar/@reservacion.ReservacionId"
                class="btn btn-success">Editar</a>
                <a class="btn btn-danger" @onclick="async ()=> await
                Borrar(reservacion)">Borrar</a>
                </td>
            </tr>
            }
        </tbody>
        </table>
    </div>
</div>

@code {
    private List<Reservacion> reservaciones = new();
        
    protected override void OnInitialized(){
        reservaciones = reservacionServicio.ObtenerTodo();
    }
    
    private async Task Borrar(Reservacion reservacion) {
        bool confirmed = await jsRuntime.InvokeAsync<bool>("confirm", "Estas seguro????");
        if (confirmed)
        if(reservacionServicio.Borrar(reservacion.ReservacionId))
        reservaciones.Remove(reservacion);
    }
}